:root {
  --the-blue: #004cff;
  --the-light-blue: #dee8ff;
  --light-grey: rgb(240, 240, 240);

  --animate-duration: 0.5s !important;
}

.navbar {
  height: 70px;
  width: 100%;
  /* border: 2px solid green; */
  position: sticky;
  top: -2px;
  z-index: 1000;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-div {
  display: flex;
  justify-content: start;
  align-items: center !important;
  gap: 7px;
  text-decoration: none;
}

.logo-div img {
  width: 40px;
}

.logo-div h3 {
  font-weight: 700;
  color: black;
  margin: 0 !important;
}

.nav-div {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.cart-btn {
  width: 50px;
  /* padding: 10px; */
  font-size: 22px;
  border: none;
  position: relative;
}

.cart-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: black;
  color: white;
  height: 20px !important;
  width: 20px !important;
  border-radius: 100%;
  padding: 0;
  font-size: 12px;
}

.menu-btn {
  width: 50px;
  /* padding: 10px; */
  font-size: 22px;
  border: none;
}

.off-canvas-container {
  width: 100%;
  height: 100%;
  /* border: 5px solid green; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
}

/* DONT CHANGE ORDER */

.off-canvas-container {
  display: none !important;
  justify-content: end;

}
.ocv-active {
  display: flex !important;
}
/* DONT CHANGE ORDER - END */

.off-canvas {
  width: 70%;
  height: 100%;
  border: 2px solid white;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ocv-top {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
.ocv-top img {
  width: 40px;
}
.ocv-top h3 {
  margin: 0 !important;
  font-weight: 700;
}

.ocv-mid {
  width: 100%;
  margin: 20px 0;
}

.one-ocv-btn {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  color: #324054;
  background-color: transparent;
  border: none;
  font-size: 18px
}
.one-ocv-btn i {
  font-size: 22px
}

.active-ocv-btn {
  background-color: var(--the-light-blue);
  color: var(--the-blue);
}

.ocv-bottom {
  width: 100%;
  /* border: 2px solid green; */
  margin-top: auto;
}

.cp {
  font-size: 12px;
  margin-top: 20px;
  text-align: right;
}

