:root {
  --the-blue: #004cff;
  --the-light-blue: #dee8ff;
  --light-grey: rgb(240, 240, 240);
}

.one-product-page {
  width: 100%;
  /* border: 2px solid red; */
  margin-bottom: 100px;
}

.one-product-page>img {
  width: 100%;
}


.right-arrow-btn {
  color: white;
  background-color: #004cff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: none;
}

.images-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images-top>* {
  margin: 0;
}

.images-main {
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  padding: 12px 0px;
}

.images-main img {
  width: 120px;
  border-radius: 12px;
  /* border: 1px solid var(--the-blue); */
}

.sizes {
  padding: 5px;
  display: flex;
  gap: 10px;
}

.sizes button {
  background-color: var(--light-grey);
  padding: 3px 15px;
  border: none;
  border-radius: 5px;
}

.active-size {
  border: 3px solid rgb(214, 165, 30) !important;
}

.main-buttons-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: white;
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.wish-btn {
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-weight: 100 !important;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wish-btn i {
  font-weight: 200 !important;
  color: #004cff !important;
}

.buy-now-btn {
  color: white;
  background-color: black;
  padding: 15px 35px;
  border-radius: 15px;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
}

.add-to-cart {
  color: white;
  background-color: var(--the-blue);
  padding: 15px 35px;
  border: none;
  border-radius: 15px;
  font-size: 1.1em;
  font-weight: 500;
}

.avg-stars {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 10px;
}

.avg-stars p {
  margin: 0;
  /* color: grey; */
  background-color: var(--the-light-blue);
  padding: 5px 10px;
  border-radius: 10px;
}

.one-review {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 15px;
  margin: 20px 0;
}

.one-review img {
  border: 5px solid white;
  border-radius: 100%;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.5);
  width: 70px;
}

.one-review div p {
  font-weight: 500;
  font-size: 1.2em;
  margin: 0;
}

.big-blue-btn {
  width: 100%;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--the-blue);
  color: white;
}

.yml-main {
  width: 100%;
  /* height: 200px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  overflow-x: scroll;
  flex-shrink: none;
}

